---
import Config from '../../e-initiative.config.mjs';
import Body from '../layouts/Body.astro';
import Navbar from '../components/Navbar.svelte';
import LandingSection from '../components/index/LandingSection.astro';
import IntroSection from '../components/index/IntroSection.astro';
import SignSection from '../components/index/SignSection.astro';
import VolunteerSection from '../components/index/VolunteerSection.astro';
import AboutSection from '../components/index/AboutSection.astro';
import { isCampaignEnded } from '../utils/campaign';
---

<Body>
	<main class="relative flex flex-col">
		<div class="relative overflow-hidden">
			<div
				class="absolute left-1/2 h-[367px] w-[509px] -translate-x-1/2 overflow-hidden md:hidden"
			>
				<img
					src="/cover.png"
					alt="cover"
					class="h-full w-full overflow-hidden md:hidden"
				/>
			</div>
			<LandingSection />
		</div>
		<IntroSection />
		{!isCampaignEnded && <SignSection />}
		<AboutSection />
		<div class="absolute bottom-0 z-10 w-full">
			<div
				class="absolute bottom-0 left-1/2 h-[82px] w-[calc(100vw-232px)] -translate-x-1/2 transform bg-[#1169A8]"
			>
			</div>
			<img
				src="/pole-left.png"
				alt="pole-left"
				class="absolute bottom-0 left-0"
			/>
			<img
				src="/pole-right.png"
				alt="pole-right"
				class="absolute bottom-0 right-0"
			/>
		</div>
		<div class="absolute bottom-0 z-10 w-full">
			<div
				class="absolute bottom-0 left-1/2 h-[82px] w-[calc(100vw-232px)] -translate-x-1/2 transform bg-[#1169A8]"
			>
				<a
					class="body-01 absolute bottom-1 left-1/2 w-[82px] -translate-x-1/2 text-base-300"
					href="https://wevis.info/"
					target="_blank"
				>
					Made by <span class="underline">WeVis</span>
				</a>
			</div>
			<img
				src="/pole-left.png"
				alt="pole-left"
				class="absolute bottom-0 left-0"
			/>
			<img
				src="/pole-right.png"
				alt="pole-right"
				class="absolute bottom-0 right-0"
			/>
		</div>
	</main>
</Body>
