---
import SectionContainer from '../SectionContainer.astro';
---

<SectionContainer
	outerClass="bg-primary"
	innerClass="relative flex max-w-screen-md flex-col items-center text-center"
>
	<h2 class="body-03 font-semibold">ผู้จัดทำ</h2>
	<div class="body-02 mt-[10px] text-center">
		จัดทำขึ้นโดยภาคประชาชนชาวเชียงใหม่ ที่ต้องการปลดล็อคเชียงใหม่
		จากการรวมศูนย์อำนาจ รัฐส่วนกลาง <br /> ให้เชียงใหม่จัดการตนเองโดยไม่จำเป็น ต้องรอรัฐส่วนกลางอีกต่อไป
	</div>
	<img class="-mt-[120px]" src="group-work.png" alt="group work" />
	<img class="-mt-10" src="activities.png" alt="activities" />
</SectionContainer>
