---
import SectionContainer from '../SectionContainer.astro';
import DocumentIcon from '../icons/DocumentIcon.svelte';
---

<SectionContainer
	id="intro"
	innerClass="flex max-w-screen-md flex-col items-center gap-3 text-center"
	outerClass="bg-[#1169A8]"
>
	<img
		src="chiangmai.png"
		"
		alt="Chiang Mai"
		class="mt-8 h-[140px] w-[358px] md:mt-0"
	/>
	<div class="flex w-[288px] flex-col md:w-[660px]">
		<div
			class="heading-responsive-01 flex w-full items-center justify-center rounded-t-lg bg-secondary py-[14px] font-bold text-neutral"
		>
			ทำไมต้องลงชื่อ
		</div>
		<div
			class="body-02 flex w-full flex-col items-start justify-center bg-white px-[14px] text-neutral"
		>
			<div class="body-03 mt-[14px] w-full font-semibold">
				ร่างพระราชบัญญัติระเบียบบริหาร ราชการเชียงใหม่มหานคร พ.ศ....
			</div>
			<div class="mt-[14px] w-full">มีใจความสำคัญคือ</div>
			<div
				class="mt-4 flex w-full items-center justify-center rounded-lg bg-[#FFFAE1] py-3"
			>
				ให้มีการเปลี่ยนแปลงการบริหาร <br /> ราชการ จังหวัดเชียงใหม่
			</div>
			<div
				class="mt-2 flex w-full items-center justify-center rounded-lg bg-accent py-3"
			>
				ให้มีการกระจายงบประมาณ ภารกิจการ <br /> บริการสาธารณะ ข้าราชการบุคลากร
				<br /> และอำนาจการบริหารตัดสินใจ <br /> จากส่วนกลางให้จังหวัดเชียงใหม
			</div>
			<div
				class="mt-2 flex w-full items-center justify-center rounded-lg bg-secondary py-3 font-semibold"
			>
				<img src="/box.svg" alt="box" class="mr-[10px]" />
				โดยการเลือกตั้งผู้ว่าราชการ <br />
				จังหวัดเชียงใหม่มาบริหารงาน
			</div>
			<div class="mt-4 flex items-start gap-4">
				<img src="hands.svg" alg="hands" />
				<div
					class="body-02 flex flex-col items-start justify-start gap-1 text-left"
				>
					<p>
						จังหวัดเชียงใหม่เป็นหนึ่งในจังหวัด ที่มีการเรียกร้องการกระจายอำนาจ
						สู่ท้องถิ่นมาอย่างต่อเนื่อง ด้วยความพร้อมในด้านต่างๆ ไม่ว่าจะเป็น..
					</p>
					<div class="flex items-center gap-[6px]">
						<img src="check-mark.svg" alt="check" />
						<p>ทรัพยากรธรรมชาติ</p>
					</div>
					<div class="flex items-center gap-[6px]">
						<img src="check-mark.svg" alt="check" />
						<p>ทรัพยากรทางวัฒนธรรม</p>
					</div>
					<div class="flex items-center gap-[6px]">
						<img src="check-mark.svg" alt="check" />
						<p>ทรัพยากรคน</p>
					</div>
					<p class="font-semibold">
						จึงเกิดแนวคิดการกระจายอำนาจโดย ประชาชนในจังหวัดเชียงใหม่
					</p>
				</div>
			</div>
			<div class="mt-4 flex items-start gap-4">
				<img src="explain.svg" alg="explain" />
				<div
					class="body-02 flex flex-col items-start justify-start gap-1 text-left"
				>
					<p>
						โดยในอดีตร่าง พ.ร.บ. ดังกล่าว เคยถูกยื่นให้กับประธานรัฐสภา
						ผู้แทนราษฎรในปี 2557 แต่ก็ถูก คณะรัฐประหารยึดอำนาจ และ
						ยุบสภาไปในที่สุด
					</p>
					<p class="font-semibold">ทำให้การผลักดันพ.ร.บ.ดังกล่าวถูกปัดตกไป</p>
				</div>
			</div>
			<div class="mb-[14px] mt-4 flex items-start gap-4">
				<img src="flag.svg" alg="flag" />
				<div
					class="body-02 flex flex-col items-start justify-start gap-1 text-left"
				>
					<p class="font-semibold text-secondary">
						ปี 2567 จึงเป็นปีแห่งการเริ่มต้นใหม่
						ประชาชนชาวเชียงใหม่จึงเสนอร่างกฎหมายนี้
					</p>
				</div>
			</div>
		</div>
		<div
			class="heading-03 flex w-full cursor-pointer items-center justify-center gap-[14px] rounded-b-lg bg-neutral py-[14px] font-bold text-secondary"
		>
			อ่านร่าง พรบ. ฉบับเต็ม <DocumentIcon />
		</div>
	</div>
</SectionContainer>
