---
import Config from '../../../e-initiative.config.mjs';
import SectionContainer from '../SectionContainer.astro';
import UpdateTimestamp from '../UpdateTimestamp.svelte';
import PenIcon from '../icons/PenIcon.svelte';
import LocationIcon from '../icons/LocationIcon.svelte';
import TableIcon from '../icons/TableIcon.svelte';
import { dayElapsed, isCampaignEnded } from '../../utils/campaign';
import { countSubmittedDocuments } from '../../utils/firebase';
import { countOfflineSignatures } from '../../utils/sheets';
import Sharer from '../Sharer.svelte';
import ArrowDownIcon from '../icons/ArrowDownIcon.svelte';
import { isCampaignEnded } from '../../utils/campaign';

const documentCount =
	(await countSubmittedDocuments()) +
	(Config.sheets?.enableOfflineSignature ? await countOfflineSignatures() : 0);
---

<SectionContainer
	outerClass="h-auto justify-center bg-[#03C038] md:h-screen"
	innerClass="relative flex flex-col text-center"
>
	<div
		class="relative flex h-[320px] w-[288px] flex-col items-center justify-center md:w-[498px]"
	>
		<img
			src="/cover.png"
			alt="cover"
			class="hidden h-[367px] w-[508px] md:block"
		/>
		<span class="body-01 absolute bottom-5 font-semibold">
			ร่วมกันปลดล็อคให้เชียงใหม่จัดการตนเองโดยไม่จำเป็นต้องรอรัฐส่วนกลางอีกต่อไป
		</span>
	</div>
	<div class="flex flex-col items-center gap-3">
		{
			!isCampaignEnded ? (
				<a href="#sign">
					<img
						src="/regist.png"
						alt="regist"
						class="mt-3 h-[218px] w-[218px] cursor-pointer"
					/>
				</a>
			) : (
				<div class="mb-12 mt-6 flex w-full items-center gap-[5px] text-accent md:mb-7 md:mt-10">
					<div class="h-[2px] grow bg-accent" />
					<div class="body-03 grow-0 font-semibold">ปิดรับลงชื่อแล้ว</div>
					<div class="h-[2px] grow bg-accent" />
				</div>
			)
		}
		{
			!isCampaignEnded && (
				<a
					class="body-02 block flex items-center gap-1 text-info underline md:hidden"
					href="#intro"
				>
					ทำไมต้องลงชื่อ <ArrowDownIcon />
				</a>
			)
		}
		<div class="flex flex-col">
			<p class="heading-responsive-02 text-base-100">
				ลงแล้ว {documentCount.toLocaleString()} คน
			</p>
			<UpdateTimestamp />
			<p class="body-03-normal">
				ต้องการ {Config.petition.expectedSignatures.toLocaleString()} รายชื่อ <br
					class="block md:hidden"
				/> ภายใน
				{
					Config.petition.endDate.toLocaleDateString('TH-th', {
						dateStyle: 'medium',
					})
				}
			</p>
		</div>
		<div class="mb-[80px] flex items-center justify-center gap-3 text-accent">
			<span class="body-01 text-neutral">แชร์</span>
			<Sharer />
		</div>
	</div>
</SectionContainer>
<div class="absolute bottom-0 w-full">
	<div
		class="absolute bottom-0 left-1/2 hidden h-[82px] w-[calc(100vw-232px)] -translate-x-1/2 transform bg-[#1169A8] md:block"
	>
	</div>
	<img
		src="/pole-left.png"
		alt="pole-left"
		class="absolute -bottom-[64px] left-0 md:bottom-0"
	/>
	<img
		src="/pole-right.png"
		alt="pole-right"
		class="absolute -bottom-[64px] right-0 md:bottom-0"
	/>
</div>
